# Server Config
PORT=5000
NODE_ENV=development
JWT_SECRET=super_secret_rbac_jwt_signing_key_change_me_in_production
JWT_EXPIRY=2h

# Database Client: 'sqlite3', 'pg' (PostgreSQL), or 'mysql2' (MySQL/XAMPP)
DB_CLIENT=sqlite3

# If using 'sqlite3'
DB_SQLITE_FILENAME=./dev.sqlite

# If using 'pg' (PostgreSQL) or 'mysql2' (MySQL/XAMPP)
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=rbac_system
DB_SSL=false
